.sidebar{
  height: 100vh;
}

.container-Inline{
  display: flex;
}

.footer{
  width: 100% !important;
}

.card-container{
  margin: 1rem;
  text-align: left;
}

.cardImg{
  height: 200px;
}

.reaction{
  margin: 1rem;
  font-size: 0.7rem;
  text-align: right !important;
  color: green;
  font-weight: bolder;
}

.delete_post:hover{
  cursor: pointer !important;
}

.tagBtn{
  width: 5rem !important;
  height: 2.5rem !important;
  font-size: small !important;
  margin-left: 1rem;
}

.card-box{
  display: flex;
  flex-wrap: wrap;
}

