.sidebar{
  height: 70vh;
}

.container-Inline{
  display: flex;
}

.footer{
  width: 100%;
}

.card-container{
  margin: 1rem;
  text-align: left;
}

.cardImg{
  height: 200px;
}

.reaction{
  margin: 1rem;
  font-size: 0.7rem;
  text-align: right !important;
  color: green;
  font-weight: bolder;
}

.delete_post:hover{
  cursor: pointer !important;
}



